{%load static%}
<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" type="text/css" href="{%static 'main/style.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    
     <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">  
    
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">  

     <link rel="stylesheet" type="text/css" href="{%static 'main/account_view.css'%}" > 
   

    <!-- added by Rene-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>     
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <!-- added by Rene-->

    <style>


        {% block inlinestyle %}
          
        {% endblock inlinestyle %}
    </style>


    <title>
       {% block title%}{% endblock title%}
    </title>
</head>
<body>
        {% if messages %}
           {% for message in messages %}
               <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
           {% endfor %}
        {% endif %}

        <div class="sticky-top">
                <div id=" navigation">
                    <h1>
                        
                                <label class="bank_title">GFY-Banking</label>
                    </h1>
                    <h2>
                    <div id="navigation-options">
                    <hr>
                   <!--  <label class="menu_label"><a class = "menu_link" href="{% url 'login' %}">Go back to login</a></label> -->
                    <label class="menu_label"><a class = "menu_link" href="{% url 'main page' %}">Home</a></label>

                    <div class="dropdown">
                       <label class="menu_label"><a class ="menu_link" href="#"><span style="color:#006400;">Accounts</span></a></label>
                       {% if user.is_authenticated %}
                          <div class="dropdown-content">
                            <p><span style="font-weight:bold; font-size:13pt; color:grey;">Accounts Overview: </span></p>
                            <p><a  class="account_link" href="{% url 'checking_acct_page' %}"><span id = "account_title">Checking:<span id="balance_amount">${{request.session.checking_account_balance}}</span></a></p>
                            <p><a  class="account_link" href="{% url 'savings_acct_page' %}"><span id = "account_title">Savings:<span id="balance_amount">${{request.session.savings_account_balance}}</span></span></a></p>
                            <p><a  class="account_link" href="{% url 'creditcard_acct_page' %}"><span id = "account_title">Credit Card:<span id="balance_amount">${{request.session.credit_card_account_balance}}</span></span></a></p>
                          </div>
                       {% endif %}
                    </div>

                  <!--  <label class="menu_label"><a class = "menu_link" href="{% url 'checking_acct_page' %}">Checking</a></label> -->
                    <label class="menu_label"><a class = "menu_link" href="{% url 'profile' %}">Manage Account</a></label>

                    {% if user.is_authenticated %}
                       <label class="menu_label"><a class = "login_link" href="{% url 'logout' %}">[ Logout : {{user.username}} ]</a></label>
                    {% else %}
                    <label class="menu_label"><a class = "login_link" href="{% url 'login' %}">[ Login </a>|<a class = "login_link" href="{% url 'register' %}"> Register ]</a></label>
                   
                    {% endif %}

                    <hr>
                    </div>
                    </h2>
                    <br>
                </div>
       </div>

    <div class="container ">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <br>
        <label>Follow us:</label>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <hr>

        <p>
            <a href="#">Contact Us</a>
            <a href="#">Privacy</a>
            <a href="#">Security</a>
            <a href="#">Terms of Use</a>
            <a href="#">Accessibility</a>
            <a href="#">About GFY-Banking</a>
            <a href="#">
                Careers</span>
                <a href="#"> &#9400; GFY-Banking</a>

        </p>

    </footer>
</body>

</html>