{%load static%}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{%static 'main/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
            GFY-Banking Homepage
    </title>
</head>

<body>
    <div class="container">
        <div id=" navigation">
            <h1>
                
                        <label>GFY-Banking</label>
                       
              
            </h1>
            <h2>
            <div id="navigation-options">
            <hr>
            <label><a href="http://127.0.0.1:8000">Go back to login</a></label>
            <label><a href="http://127.0.0.1:8000/main_page">Go to main page</a></label>
            <label><a href="http://127.0.0.1:8000/account_summary">Account Summary</a></label>
            <label><a href="{% url 'manage account'%}">Manage Account</a></label>
            <hr>
            </div>
            </h2>
            <br>
        </div>
    </div>

    <div class="container " <div id=" Special_Offers" <div class="row">
        <div class="column">
            <a href="http://127.0.0.1:8000/promotion_1"><img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                    ></a>
            <a href="http://127.0.0.1:8000/promotion_2"><img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                   ></a>
            <a href="http://127.0.0.1:8000/promotion_3"><img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                   ></a>

        </div>
        <div class="column">
            <a href="http://127.0.0.1:8000/promotion_4"> <img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                   ></a>
            <a href="http://127.0.0.1:8000/promotion_5"> <img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                    ></a>
            <a href="http://127.0.0.1:8000/promotion_6"> <img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                    ></a>

        </div>
    </div>
    </div>
    </div>
    <footer class="footer">
        <br>
        <label>Follow us:</label>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <hr>

        <p>
            <a href="#">Contact Us</a>
            <a href="#">Privacy</a>
            <a href="#">Security</a>
            <a href="#">Terms of Use</a>
            <a href="#">Accessibility</a>
            <a href="#">About GFY-Banking</a>
            <a href="#">
                Careers</span>
        <a href="#"> &#9400; GFY-Banking</a>

        </p>

    </footer>
</body>

</html>