{% extends 'main/base.html'%} 

{% block content %}
     
    <div class="container " <div id=" Special_Offers" <div class="row">
        <div class="column">
            <a href="http://127.0.0.1:8000/promotion_1"><img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                    ></a>
            <a href="http://127.0.0.1:8000/promotion_2"><img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                   ></a>
            <a href="http://127.0.0.1:8000/promotion_3"><img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                   ></a>

        </div>
        <div class="column">
            <a href="http://127.0.0.1:8000/promotion_4"> <img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                   ></a>
            <a href="http://127.0.0.1:8000/promotion_5"> <img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                    ></a>
            <a href="http://127.0.0.1:8000/promotion_6"> <img
                    src="https://image.shutterstock.com/image-photo/blank-mock-vertical-street-poster-600w-425371828.jpg"
                    ></a>

        </div>
    </div>
{% endblock %}

   
   