{%extends 'main/base.html'%}


{% block inlinestyle %}
          
       
.content-section
      {
        padding: 15px 15px;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        border-color: #17a2b8;
        background-color: #e3fced;
       
        color: #17a2b8;
        
      }

      ul {background-color:transparent;}


      table.profile {
         text-align:right;
         font-weight:bold;
      }

      td { padding: 5px 5px;}

      td.info {
        text-align:left;    
        color:grey;
      }

{% endblock inlinestyle %}

{% block title%}View Profile{% endblock title%}

{% block content %}

<h1>Profile</h1>


<div class="container">

  <div class="content-section">
     <table class="profile">
        <th colspan="2" style="text-align:left"><a href="{% url 'profile_edit' %}">[edit profile]</a></th>
        <tr><td>First Name:</td><td class="info">{{customer_info.first_name}}</td></tr>

        <tr><td>Middle Name:</td><td class="info">{{customer_info.middle_name}}</td></tr>

        <tr><td>Last Name:</td><td class="info">{{customer_info.last_name}}</td></tr>

        <tr><td>Address:</td><td class="info">{{customer_info.address}}</td></tr>

        <tr><td>City:</td><td class="info">{{customer_info.city}}</td></tr>

        <tr><td>State:</td><td class="info">{{customer_info.state}}</td></tr>
            
        <tr><td>Zipcode:</td><td class="info">{{customer_info.zipcode}}</td></tr>

        <tr><td>Phone Number:</td><td class="info">{{customer_info.phone_number}}</td></tr>
      </table> 
  </div>

</div>

{%endblock%}