{%extends 'main/base.html'%}
{% load crispy_forms_tags %}

{% block inlinestyle %}
          
       
.content-section
      {
        padding: 15px 15px;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        border-color: #17a2b8;
        background-color: #e3fced;
        margin-top: 10%;
        color: #17a2b8;
        
      }

      ul {background-color:transparent;}

{% endblock inlinestyle %}

{% block title%}Edit Profile{% endblock title%}


{% block content %}

<div class = "container">
        <div class="content-section">
              <form method="POST">
                   {% csrf_token %}
                        <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Edit Profile</legend>
                             <!--{{ form.as_p }} -->
                           {{ form|crispy }}
                         </fieldset>
                         <div class="form-group">
                              <button class="btn btn-outline-info" type="submit">Save</button>
                          </div>
               </form>
   
          
        </div>
</div>

{%endblock%}