{%extends 'main/base.html'%}
{% block content %}

<style>
  body{
    background-image:url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwi25KCC6JXmAhWHJDQIHVWFC8QQjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fpicjumbo.com%252Fbeautiful-green-field-scenery%252F%26psig%3DAOvVaw3UhDVV5-AjZap9JVCI0fdE%26ust%3D1575336526369527&psig=AOvVaw3UhDVV5-AjZap9JVCI0fdE&ust=1575336526369527");
  }
  </style>
<body>
<p><center></br>Loan Assistance - GFY can help you get where you need to be</p>
<font size="6"><b><a href="#">Home Mortgages</a></b></br>
  <font size="4">
           Whether it’s your first home or not, GFY banking can help you get the money you need to have</br>
    the home of your dreams. Starting at 5.4% APR for first time homebuyers, or 3.7% if you’ve had</br>
    a home before, check out all of our options in to making your home buying experience easy and affordable.
</center>
<hr>

<p><center></p>
<p><font size="6"><b><a href="#">Auto Loans</a></b></br>
  <font size="4">
           GFY offers financing on new or used cars, all you have to do is pick the right one. It is as </br>
    GFY offers financing on new or used cars, all you have to do is pick the right one. It is as </br>
  wanted.
</center>

<hr>

<p><center></br></p>
<font size="6"><b><a href="#">Student Loans</a></b></br>
  <font size="4">
          Here at GFY we believe that everyone should have access to an education even if it isn’t in your </br>
    price range. Find out today how much money you could get based on your income, or with your parents </br>
  as a cosigner.
<hr>

  </body>
{%endblock%}
