{%extends 'main/base.html'%}
{% block content %}
<p><center></br>Credit Card Sign-Up – For those emergencies you don’t see coming</p>
    <font size="6"><b><a href="#">GFY Credit Cards</a></b></br>
      <font size="4">
        The unexpected can happen, and GFY wants to be there for you when it does. GFY credit cards offer an unprecedented no interest on payments for your first 12 months, no matter how much you owe back. And based on your credit score at sign-up, do we determine how much your interest rate will be after your first year.

    </center>
    <hr>
{%endblock%}
