{%extends 'main/base.html'%}
{% block content %}

<style>
  body{
    background-image:url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwi25KCC6JXmAhWHJDQIHVWFC8QQjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fpicjumbo.com%252Fbeautiful-green-field-scenery%252F%26psig%3DAOvVaw3UhDVV5-AjZap9JVCI0fdE%26ust%3D1575336526369527&psig=AOvVaw3UhDVV5-AjZap9JVCI0fdE&ust=1575336526369527");
  }
  </style>
<body>
<p><center></br>Financing Help - GFY is there to plan for you</p>
<font size="6"><b><a href="#">Home Mortgages</a></b></br>
  <font size="4">
           We get it, it can be hard to keep your money when there is so many great things to purchase out </br>
  there. But we are here to help, as GFY offers budget plans that can be as precise as daily spending </br>
    budgets, to monthly spending budgets. Whatever assistance you may need to help you save for the </br>
    future, or budget for something you have had your eye on.
</center>
<hr>
  </body>
{%endblock%}
