{%extends 'main/base.html'%}
{% block content %}
<p><center></br>Referring a Friend – Life is better with friends, and so is getting rewarded for it</p>
    <font size="6"><b><a href="#">Refer a friend</a></b></br>
      <font size="4">
        You help us grow, and we help you grow. Referring a friend to our business can get you up to $200 of extra cash in your bank account, and up to $100 in theirs. 
        Learn more on how much money you could get today when you get a friend to sign up and list you as their reference.
    </center>
    <hr>
    
  
{%endblock%}
