{%extends 'main/base.html'%}
{% block content %}

<style>
  body{
    background-image:url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwi25KCC6JXmAhWHJDQIHVWFC8QQjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fpicjumbo.com%252Fbeautiful-green-field-scenery%252F%26psig%3DAOvVaw3UhDVV5-AjZap9JVCI0fdE%26ust%3D1575336526369527&psig=AOvVaw3UhDVV5-AjZap9JVCI0fdE&ust=1575336526369527");
  }
  </style>
<body>
<p><center></br>Transferring Money - We understand that it may be hard to choose just one</p>
<font size="6"><b><a href="#">Transfer Money Between Checking Accounts</a></b></br>
  <font size="4">
           Indecisive on which bank to choose? We understand that the competition is fierce out there. </br>
    However at GFY banking, we offer easy transferring services to or from your account with us, just in case </br>
    the situation comes up. We offer a one day waiting period for exchanges when you take money out, but </br>
    we cannot really speak for the other guys when it comes to bringing money in.
</center>
<hr>

<p><center></p>
<p><font size="6"><b><a href="#">Paying off Credit Cards</a></b></br>
  <font size="4">
           GFY also offers the opportunity to pay your credit card bills by transfers as well. Whether it’s a  </br>
    credit card from us or another company, we have automatic payment plans ready for you to take  </br>
    advantage of so you never miss a payment.
</center>
<hr>

  </body>
{%endblock%
