table {
    /* background-color:white;*/

}

.container_table
{
   /* background-color:white;*/
    padding: 15px;
    border-radius: 3px;
    border-color: red;
    border: 1 rem solid
}

label{
    font-weight: bold;
    font-size:10pt;
    color:grey;
}

.dataTables_info {
    font-weight: bold;
    font-size: 10pt;
    color:grey;
}

ul.pagination {
    font-weight: bold;
   /*background-color:red;*/
    float:right;
    font-size:10pt;

}

.page-item.active .page-link
                          {
      background-color: #70b58c;
      border-color:#70b58c;
}

.table-striped tbody tr:nth-of-type(odd) 
{
       background-color: rgba(54,54,54,.10);
       font-weight:bold;
       font-size:11pt;
}
.table-striped tbody tr:nth-of-type(even) {
       background-color: rgba(0,0,0,.05);
       font-weight:bold;
       font-size:11pt;

} 

td.sorting_1 {background-color:rgba(235,255,153,.35);}

th.amount {text-align:right;}
th.vendor {text-align:center;}

tr.category, tfoot.category {background-color:#70b58c; color:white;}

.grey_info {color:grey;}

td.positive_money_amount {color:green; text-align:right;}
td.negative_money_amount {color:red; text-align:right;}

li {padding: 0px 0px}
ul.pagination {background-color:white;}

.jumbotron {background-color:#e3fced; padding: 10px 10px;}

.sticky-top {
    background-color:white; 
    height:200px;
    /*z-index: 1;*/
}

.dropdown {
    position: static;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    font-size: 12pt;
    background-color: #e3fced;/*#f9f9f9;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
   /* text-align:right;*/
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
a.account_link {
    color:#17a2b8;
    font-weight:bold;
}

#balance_amount {
    color: grey;
    margin-left:10px;
    float:right;
}

#account_title
{
  /*text-align:left;*/
  /*color:green;*/
 /* margin-right:50px;*/
 /* border-style:solid;
  border-width:0px;
  border-color:red;*/
  
}


