html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

.container {
    flex: 1 0 auto;

}

button:hover {
    opacity: 0.8;
}

footer {
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    flex-shrink: 0;
    flex-wrap: nowrap;

}

.footer>a,
.footer>p>a {
    margin-left: 0.5%;
    color: black;
    text-decoration: none;
}

hr {
    background-color: black;
    height: 1px;
    border: 0;
    width: 80%
}