html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color:#006400;
}

.container {
    flex: 1 0 auto;
}

button:hover {
    opacity: 0.8;
}

footer {
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    flex-shrink: 0;
    flex-wrap: nowrap;

}

.footer>a,
.footer>p>a {
    margin-left: 0.5%;
    color: black;
    text-decoration: none;
}

hr {
    background-color: black;
    height: 1px;
    border: 0;
    width: 80%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006400;
}

#navigation-options{
    margin: 0;
    padding: 0.5% 0.5% 0.5% 0.5%;
    overflow: hidden;
    text-align: center;

}

#navigation-options>label{
    margin-left: 1%;
}

#navigation-options>label>a{
        color:  #006400;
        text-decoration: none;
}

#navigation-options>label>a:hover {
  opacity: 0.5;
}


li { 
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* li a:hover {
    background-color: #111;
} */

* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    display: table;
    clear: both;

}

.column {

 text-align: center;

} 
.column img {
    margin-top: 8px;
    vertical-align: middle;
}

img {
    width: 30%;
}